.plpContainer {
    width: 100%;
    margin-top: 60px;
    @include defaultFlex(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin-bottom: 60px;

    .plpBanner {
        width: 100%;
        height: 300px;
        padding: 16px 5px;
        border-radius: 10px;
        &__image {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            &--text {
                background-color: #0000008c;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                @include defaultFlex();

                & > div {
                    width: 70%;
                    font-size: $ft1_4;
                    font-weight: bold;
                    line-height: 1.83;
                    text-align: center;
                    color: $text-white-color;
                }
            }
        }
    }
    .plpCardContainer {
        padding: 0 4px;
        // height: calc(100% - 50%);
        margin-bottom: 10px;
        width: calc(100% - 50%);
        a {
            text-decoration: none;
        }
        .image {
            width: 100%;
            min-height: 200px;
            border-radius: 10px;
            overflow: hidden;
            font-size: 0;
            background: linear-gradient(
                to right,
                #bdc3c7,
                #2c3e5000
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-bottom: 20px;
            img {
                display: block;
                vertical-align: middle;
                width: 100%;
                height: 100%;
                line-height: 0;
            }
        }
        .productDetail {
            position: relative;
            font-size: 12px;
            p {
                line-height: 1.83;
                letter-spacing: 0.24px;
                text-align: left;
                color: #6d6d6d;
                text-transform: capitalize;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding: 0 10px;
            }
            .price-tag {
                display: flex;
                span:first-of-type {
                    font-weight: bold;
                    text-decoration: line-through;
                    margin-right: 10px;
                }
                .discount {
                    margin-left: 10px;
                    font-weight: bold;
                    color: $green;
                }
            }
            .colorVariant {
                height: 100%;
                @include defaultFlex(row, flex-start);
                margin-left: 16px;
                .color {
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    border: solid 3px white;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
                    margin-left: -10px;
                    transition: transform 0.2s;

                    &:hover {
                        transform: scale(1.4);
                    }
                }
            }
        }
    }

    .plp {
        height: 100vh;
        width: 100%;
        &-b {
            height: 100%;
            width: 100%;
            &_m {
                height: 200px;
                width: 95%;
                margin: 0 auto;
                margin-top: 12px;
                border-radius: 8px;
                background-color: #f0f4f7;
            }
            &_p {
                margin-top: 16px;
                @include defaultFlex(row, space-evenly);
                & > div {
                    width: 170px;
                    height: 280px;

                    .i {
                        height: 200px;
                        background-color: #f0f4f7;
                        border-radius: 8px;
                    }
                    .c {
                        & > div {
                            background-color: #f0f4f7;
                            border-radius: 8px;
                            margin: 10px 0;
                        }
                        & > div:nth-child(1) {
                            width: 50px;
                            height: 14px;
                            border-radius: 2px;
                        }
                        & > div:nth-child(2) {
                            width: 100%;
                            height: 20px;
                            border-radius: 2px;
                        }
                        & > div:nth-child(3) {
                            width: 90%;
                            height: 20px;
                            border-radius: 2px;
                        }
                        .clr {
                            background-color: transparent;
                            @include defaultFlex(row, flex-start);
                            & > div {
                                margin-right: 5px;
                                width: 32px;
                                height: 32px;
                                border-radius: 100%;
                                background-color: #f0f4f7;
                            }
                        }
                    }
                }
            }
        }
        .animate {
            animation: shimmer 2s linear infinite;
            background: linear-gradient(to right, #f0f4f7 4%, #e1e9ef 25%, #f0f4f7 36%);
            background-size: 1000px 100%;
        }
    }

    @keyframes shimmer {
        0% {
            background-position: -1000px 0;
        }
        100% {
            background-position: 1000px 0;
        }
    }
}
