.NeedHelpSection {
    background-color: #e1ebf9;
    width: 100vw;
    height: 200px;

    padding-top: 40px;

    h2 {
        text-align: center !important;
      box-sizing: border-box;
      margin-top: 0;
      margin-bottom: 10px;
      font-family: Playfair Display;
      text-transform: uppercase !important;
      letter-spacing: 0.20625rem;
      font-weight: 400;
      font-size: 3rem;
      text-shadow: 1px 1px 0 #333;
      line-height: 2.375rem;
      color: #203a56;
    
    }
    div {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            font-size: 16px;
            margin-bottom: 20px;

        }
        
    }
}