.Toast{
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%,0);
    background-color: $text-black-color;
    min-width: 100px;
    // height: 40px;
    width: max-content;
    max-width: 90vw;
    border-radius: 25px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    color: $text-white-color;
    z-index: $toast-z-index-50;

    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.28px;
    text-align: center;
    padding: 16px;
    color: #ffffff;
    @include defaultFlex();

  animation: toastSlide .2s linear;
@keyframes toastSlide {
    from {
        bottom: -100px;
    }
    to {
        bottom: 70px;
    }
}
}