
// color


$singin-background-color: #F4F4F2;
$text-black-color: #202020;
$lite-black:#202020d4;
$text-white-color: #ffffff;
$theme-color: #42CEBB;
$error: #d60000b0;
$green: #00bf76;
// box shadow
$box-shadow-inset: 2px 2px 8px 0 rgba(0, 0, 0, 0.1), inset 2px 2px 8px 0 rgba(0, 0, 0, 0.1);

// font-size in rem
$ft1: 1rem; // 10px
$ft1_4: 1.4rem; // 14px
$ft1_5: 1.5rem; // 15px
$ft2: 2rem; // 20px

// font-size in em
$ft2em : 2em;

// font-size in px
$ft16: 16px;
$ft24: 24px;
