:root {
  --cart-order-details-margin: 225px;
}
// Font family
$nunito: "Nunito", sans-serif;

// color
$singin-background-color: #f4f4f2;
$text-black-color: #202020;
$lite-black: #202020d4;
$text-white-color: #ffffff;
$theme-color: #42cebb;
$error: #ff7676;
$green: #00bf76;
$lite-blue: #f0f4f7;
$text-blue: #268cb9;
$lite-gray: #6d6d6d;
$disable-text: #a5a5a5;
$disable-btn: #f3f3f3;
$warning:#ffae42;

// box shadow
$box-shadow-inset: 2px 2px 8px 0 rgba(0, 0, 0, 0.1),
  inset 2px 2px 8px 0 rgba(0, 0, 0, 0.1);

// font-size in rem
$ft1: 1rem; // 10px
$ft1_2: 1.2rem; // 12px
$ft1_4: 1.4rem; // 14px
$ft1_5: 1.5rem; // 15px
$ft1_8: 1.8rem; // 18px
$ft2: 2rem; // 20px

// font-size in em
$ft2em: 2em;

// font-size in px
$ft16: 16px;
$ft24: 24px;

// Header z-index
$header-z-index-10: 10;
// Modal z-index
$modal-z-index-40: 40;
// Toast z-index
$toast-z-index-50: 50;
// Loader z-index
$loader-z-index-100: 100;
